[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Commodore 64 DTV
Name[ar]=Commodore 64 DTV
Name[be]=Commodore 64 DTV
Name[bg]=Commodore 64 DTV
Name[bn]=Commodore 64 DTV
Name[bs]=Commodore 64 DTV
Name[ca]=Commodore 64 DTV
Name[cs]=Commodore 64 DTV
Name[da]=Commodore 64 DTV
Name[de]=Commodore 64 DTV
Name[dz]=Commodore 64 DTV
Name[el]=Commodore 64 DTV
Name[eo]=Commodore 64 DTV
Name[es]=Commodore 64 DTV
Name[eu]=Commodore 64 DTV
Name[fi]=Commodore 64 DTV
Name[fr]=Commodore 64 DTV
Name[ga]=Commodore 64 DTV
Name[gl]=Commodore 64 DTV
Name[gu]=Commodore 64 DTV
Name[he]=Commodore 64 DTV
Name[hi]=Commodore 64 DTV
Name[hr]=Commodore 64 DTV
Name[hu]=Commodore 64 DTV
Name[id]=Commodore 64 DTV
Name[it]=Commodore 64 DTV
Name[ja]=Commodore 64 DTV
Name[ka]=Commodore 64 DTV
Name[km]=Commodore 64 DTV
Name[ko]=Commodore 64 DTV
Name[ku]=Commodore 64 DTV
Name[lt]=Commodore 64 DTV
Name[mk]=Commodore 64 DTV
Name[ml]=Commodore 64 DTV
Name[mr]=Commodore 64 DTV
Name[nb]=Commodore 64 DTV
Name[ne]=Commodore 64 DTV
Name[nl]=Commodore 64 DTV
Name[nn]=Commodore 64 DTV
Name[pa]=Commodore 64 DTV
Name[pl]=Commodore 64 DTV
Name[pt]=Commodore 64 DTV
Name[pt_BR]=Commodore 64 DTV
Name[ro]=Commodore 64 DTV
Name[ru]=Commodore 64 DTV
Name[sk]=Commodore 64 DTV
Name[sq]=Commodore 64 DTV
Name[sv]=Commodore 64 DTV
Name[ta]=Commodore 64 DTV
Name[th]=Commodore 64 DTV
Name[tl]=Commodore 64 DTV
Name[tr]=Commodore 64 DTV
Name[uk]=Commodore 64 DTV
Name[vi]=Commodore 64 DTV
Name[wo]=Commodore 64 DTV
Name[zh_CN]=Commodore 64 DTV
Name[zh_TW]=Commodore 64 DTV
GenericName=
Comment=
Icon=${SNAP}/meta/gui/c64icon-48x42.xpm
Exec=vice-jz.x64dtv %f
Terminal=false
Categories=Application;X-Debian-Applications-Emulators;
