[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Commodore 64 SC
Name[ar]=Commodore 64 SC
Name[be]=Commodore 64 SC
Name[bg]=Commodore 64 SC
Name[bn]=Commodore 64 SC
Name[bs]=Commodore 64 SC
Name[ca]=Commodore 64 SC
Name[cs]=Commodore 64 SC
Name[da]=Commodore 64 SC
Name[de]=Commodore 64 SC
Name[dz]=Commodore 64 SC
Name[el]=Commodore 64 SC
Name[eo]=Commodore 64 SC
Name[es]=Commodore 64 SC
Name[eu]=Commodore 64 SC
Name[fi]=Commodore 64 SC
Name[fr]=Commodore 64 SC
Name[ga]=Commodore 64 SC
Name[gl]=Commodore 64 SC
Name[gu]=Commodore 64 SC
Name[he]=Commodore 64 SC
Name[hi]=Commodore 64 SC
Name[hr]=Commodore 64 SC
Name[hu]=Commodore 64 SC
Name[id]=Commodore 64 SC
Name[it]=Commodore 64 SC
Name[ja]=Commodore 64 SC
Name[ka]=Commodore 64 SC
Name[km]=Commodore 64 SC
Name[ko]=Commodore 64 SC
Name[ku]=Commodore 64 SC
Name[lt]=Commodore 64 SC
Name[mk]=Commodore 64 SC
Name[ml]=Commodore 64 SC
Name[mr]=Commodore 64 SC
Name[nb]=Commodore 64 SC
Name[ne]=Commodore 64 SC
Name[nl]=Commodore 64 SC
Name[nn]=Commodore 64 SC
Name[pa]=Commodore 64 SC
Name[pl]=Commodore 64 SC
Name[pt]=Commodore 64 SC
Name[pt_BR]=Commodore 64 SC
Name[ro]=Commodore 64 SC
Name[ru]=Commodore 64 SC
Name[sk]=Commodore 64 SC
Name[sq]=Commodore 64 SC
Name[sv]=Commodore 64 SC
Name[ta]=Commodore 64 SC
Name[th]=Commodore 64 SC
Name[tl]=Commodore 64 SC
Name[tr]=Commodore 64 SC
Name[uk]=Commodore 64 SC
Name[vi]=Commodore 64 SC
Name[wo]=Commodore 64 SC
Name[zh_CN]=Commodore 64 SC
Name[zh_TW]=Commodore 64 SC
GenericName=
Comment=
Icon=${SNAP}/meta/gui/c64icon-48x42.xpm
Exec=vice-jz.x64sc %f
Terminal=false
Categories=Application;X-Debian-Applications-Emulators;
