[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Commodore 64 SCPU
Name[ar]=Commodore 64 SCPU
Name[be]=Commodore 64 SCPU
Name[bg]=Commodore 64 SCPU
Name[bn]=Commodore 64 SCPU
Name[bs]=Commodore 64 SCPU
Name[ca]=Commodore 64 SCPU
Name[cs]=Commodore 64 SCPU
Name[da]=Commodore 64 SCPU
Name[de]=Commodore 64 SCPU
Name[dz]=Commodore 64 SCPU
Name[el]=Commodore 64 SCPU
Name[eo]=Commodore 64 SCPU
Name[es]=Commodore 64 SCPU
Name[eu]=Commodore 64 SCPU
Name[fi]=Commodore 64 SCPU
Name[fr]=Commodore 64 SCPU
Name[ga]=Commodore 64 SCPU
Name[gl]=Commodore 64 SCPU
Name[gu]=Commodore 64 SCPU
Name[he]=Commodore 64 SCPU
Name[hi]=Commodore 64 SCPU
Name[hr]=Commodore 64 SCPU
Name[hu]=Commodore 64 SCPU
Name[id]=Commodore 64 SCPU
Name[it]=Commodore 64 SCPU
Name[ja]=Commodore 64 SCPU
Name[ka]=Commodore 64 SCPU
Name[km]=Commodore 64 SCPU
Name[ko]=Commodore 64 SCPU
Name[ku]=Commodore 64 SCPU
Name[lt]=Commodore 64 SCPU
Name[mk]=Commodore 64 SCPU
Name[ml]=Commodore 64 SCPU
Name[mr]=Commodore 64 SCPU
Name[nb]=Commodore 64 SCPU
Name[ne]=Commodore 64 SCPU
Name[nl]=Commodore 64 SCPU
Name[nn]=Commodore 64 SCPU
Name[pa]=Commodore 64 SCPU
Name[pl]=Commodore 64 SCPU
Name[pt]=Commodore 64 SCPU
Name[pt_BR]=Commodore 64 SCPU
Name[ro]=Commodore 64 SCPU
Name[ru]=Commodore 64 SCPU
Name[sk]=Commodore 64 SCPU
Name[sq]=Commodore 64 SCPU
Name[sv]=Commodore 64 SCPU
Name[ta]=Commodore 64 SCPU
Name[th]=Commodore 64 SCPU
Name[tl]=Commodore 64 SCPU
Name[tr]=Commodore 64 SCPU
Name[uk]=Commodore 64 SCPU
Name[vi]=Commodore 64 SCPU
Name[wo]=Commodore 64 SCPU
Name[zh_CN]=Commodore 64 SCPU
Name[zh_TW]=Commodore 64 SCPU
GenericName=
Comment=
Icon=${SNAP}/meta/gui/c64icon-48x42.xpm
Exec=vice-jz.xscpu64 %f
Terminal=false
Categories=Application;X-Debian-Applications-Emulators;
